.agenda{
  background: #ffffff;
  color: #141414;
}
.agenda-container{
  max-width: 1200px;
  padding: 100px 20px;
  margin: 0 auto;
  gap: 100px;
  
}

.subtitulo{
  text-align: center;
  font-size: 4.25rem;
  ;
  margin-bottom: 80px;
}

.culto-lista{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}

.culto{
  flex: 1;
  background: #ffffff0f;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
box-shadow: rgba(82, 72, 55, 0.909) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}




.culto-tipo{
  font-size: 1.3rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
  

}

.tema-culto{
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  text-align: center;
  color: #3d3d3d;
}

.tema-culto::before{
  content: "";
  /* border-radius: 1px; */
  display: block;
  width: 4px;
  height: 30px;
  background: linear-gradient(#dc9f3dc6,#c7a670e1);
  position: absolute;
  left: -24px;
  
}