.dizimos-container {
    max-width: 800px;
    padding: 40px 10px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    background: #f6f6f5bd;
    border-radius: 10px;
    margin-bottom: 20px;
     box-shadow: rgba(11, 10, 8, 0.597) 0px 2px 5px -1px, rgb(20, 16, 3) 0px 1px 3px -1px;
}
.dizimos {
    background: #ffffff;
}

.dizimos h1{
    font-size: clamp(2rem, 1.724rem + 1.11vw, 3.5rem);
    text-align: center;
}

.dizimos img{
    max-width: 40%;
    height:auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.verso1{
    font-size: clamp(1rem, 0.908rem + 0.37vw, 1.5rem);
    text-align: center;
    /* margin-top: 10px; */
    color: #525252e3;
    margin-bottom: 10px;
    font-weight: 400;
}

.verso2{
    font-size: clamp(1rem, 0.908rem + 0.37vw, 1.5rem);
    font-style: italic;
    color: #525252e3;
    margin-bottom: 40px;
    font-weight: 500;
}

