.footer-bg{
  background-color: #141414;
}

.footer-container{
  max-width: 1200px;
  padding: 50px 10px;
  margin: 0 auto;
  gap: 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;

  

}

.footer-container p{
  font-size: 1.3rem;
  font-weight: 600;
  align-items: center;
  color: #ffaa22;
  font-style: italic;
  text-align: right;
}

@media (max-width:700px) {
  .footer-container p{
    font-size: 0.9rem;
    text-align: left;
    padding: 10px;
}
  .footer-container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 5px;
  }.footer-container img{

    padding: 10px;
  }
}
