.introducao{
  max-width: 1200px;
  padding: 40px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  
}

.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  
}

.introducao p{
  font-size: 1.5rem;
  color: #525252;
  
}

@media (max-width:1100px) {
  .introducao h1{
    font-size: 3.5rem;
  }
}

@media (max-width:800px) {
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }.introducao h1{
    font-size: 2.5rem;
  }
}

@media (max-width:500px) {
  .introducao h1{
    text-align: center;
    padding: 50px;
  }
  .introducao img{
    display: none;
  } .introducao{
    grid-template-columns: 1fr;
  }.introducao p{
    font-size: 1rem;
    text-align: center;

  }
}