.introducao{
  max-width: 1200px;
  padding: 40px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  
}

.introducao h1{
  font-size: 4.5rem;
  line-height: 1.125;
  margin-bottom: 30px;
  
}

.introducao p{
  font-size: 1.5rem;
  color: #525252;
  
}

.introducao img{
  height: auto;
  max-width: 100%;
  display: block;
  
}



@media (max-width:1000px) {
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 20px ;
  }
  .introducao h1{
    font-size: 3.7rem;
    margin-bottom: 20px;
  }
  .introducao p{
    font-size: 1.25rem;
}

@media (max-width:800px) {
  .introducao{
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }.introducao h1{
    font-size: 2.9rem;
    margin-bottom: 15px;
  } .introducao p{
    font-size: 1.1rem;
    margin-top: 10px;
  }.introducao img{
    max-width: 80%;
  }
}

@media (max-width:500px) {
  .introducao h1{
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
  }
  .introducao img{
    display: none;
    max-width: 30%;
    margin: 0 auto;
  } .introducao{
    grid-template-columns: 1fr;
  }.introducao p{
    font-size: 1rem;
    text-align: center;
  }
}