.oracao-container{
  max-width: 800px;
  padding: 40px 10px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  align-items: center;
  
}
.oracao{

}
.oracao h1{
  font-size: 3.5rem;
  text-align: center;
}

.oracao p{
  font-size: 1.5rem;
  text-align: center;
  margin-top: 20px;
  color: #525252e3;
  margin-bottom: 40px;
}

.oracao-formulario{
  padding: 60px;
  box-shadow: rgba(11, 10, 8, 0.597) 0px 2px 5px -1px, rgb(20, 16, 3) 0px 1px 3px -1px;
  background-color: #fcfcfc9a;
  border-radius: 10px;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 20px;
}

.form label{
  display: block;
  font: 600 1.3rem/1.5 "Inter", poppins, sans-serif;
  margin-bottom: 4px;
}


.form input[type="text"],
.form input[type="tel"],
.form input[type="email"],.form textarea{
  font: 400 1rem/1.5 "Inter", poppins, sans-serif;
  background: #f5f5f5;
  border: 1px solid #f0f0f0;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  /* font-style: italic; */
  font-weight: bold;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus,.form textarea:focus{
  outline: none;
  border-color: #fae1a7bb;
  background: #fff;
  box-shadow: 0 0 0 2px #f9e18c88;

}

.linha { 
  width: 100%;
  margin-top: 20px;
  height: 30px;
  margin-bottom: 20px;
  background-color: #fdb10d;
}

.botao{
  background: #ffaf02; 
  color: #141414;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  box-shadow:0 6px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.botao:hover{
  background: rgba(252, 178, 7, 0.921)
}