@import url(./global.css);
@import url(./header.css);
@import url(./introducao.css);
@import url(./agenda.css);
@import url(./contato.css);
@import url(./footer.css);
@import url(./versiculo.css);
@import url(./oracao.css);